<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077507360790-0n37ujlan0l42r9np3308g0l9gkb3028.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077507360790-0n37ujlan0l42r9np3308g0l9gkb3028</string>
	<key>API_KEY</key>
	<string>AIzaSyDfwnyJ1sGWnfl9b2TC_TtaB-07U4gRy7U</string>
	<key>GCM_SENDER_ID</key>
	<string>1077507360790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.techBin</string>
	<key>PROJECT_ID</key>
	<string>techbin-b2d1e</string>
	<key>STORAGE_BUCKET</key>
	<string>techbin-b2d1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077507360790:ios:0c5d9252219b51a84b0d37</string>
	<key>DATABASE_URL</key>
	<string>https://techbin-b2d1e.firebaseio.com</string>
</dict>
</plist>